#headertop{background-color: rgb(253, 221, 227);
    color: rgb(134, 1, 123);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: small;
 
    
}
.container{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}
#headertop .container{
    
   
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    a{text-decoration: none;}
    

}
#baby{
    width: 32px;
    height: 32px;
    margin-right: 8px;
}  
#down{
    width: 10px;
    height: 10px;
    
} 
#language{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: rgb(134, 1, 123);
}
#logo{
    width: 140px;
    height: 140px;
    
}
.navIcon{
    width: 24px;
  
}
#headerCenter{
    padding-top: 12px;
    padding-bottom: 12px;
 
}
#headerCenter .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
.headerCenterSearch{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid grey;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 8px;
    width: 50%;
    
}
.headerCenterSearch input{
    border: none;
    width: 100%;}
    


